h1{
  color: orange;
  text-align: center;
  background-color: cadetblue;
}

h2{
  font-style: italic;
  text-align: center;
}

h3{
  color: blue;
  text-align: center;
  font-weight: bold;
}

p{
  font-family: sans-serif;
  text-align: center;
}

ul{
  font-size: 20px;
  line-height: 30px;
}

.light-background{
  background-color: rgb(250, 246, 237);
  color:orange;
}

.dark-backgraund{
  background-color: grey;
  color: white;
  
}